.header {
    position: relative;
    float: left;
    width: 100%;
    min-height: 52px;
}

.logo {
    padding-left: 0px;
}

.shadow {
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}
.bgcol .navbar {
  margin-left: -6px;;
}
.logo img {
    padding: 5px;
}

.wtext {
    color: #fff;
    padding-top: 18px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

.navbar-light {
    float: left;
    padding-bottom: 0px;
}

.nav-link {
    font-size: 14px;
}

.nav-link .material-icons {
    vertical-align: middle;
    font-size: 16px !important;
}

.nav-link {
    padding: 13px 20px;
    min-width: 110px;
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    background: -webkit-linear-gradient(top, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    background: linear-gradient(to bottom, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    font-size: 14px;
    color: #333 !important;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    /*
    background: -moz-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #EA5C54), color-stop(100%, #bb6dec));
    background: -webkit-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -o-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -ms-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);  */
    background: #29868e;
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.cnav {
    /* background: -moz-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #EA5C54), color-stop(100%, #bb6dec));
    background: -webkit-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -o-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -ms-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
    */
    background: #29868e;
    color: #fff;
}

.cnav {
    margin-left: 3px;
}

.nav-link:hover {
    color: #fff !important;
}

.nav-link:hover i {
    color: #fff !important;
}

.rightNav {
    position: relative;
    float: right;
    padding: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    padding-top: 12px;
}

.rightNav li {
    float: left;
    margin-right: 10px;
}

.rightNav li a {
    position: relative;
    float: left;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(86%, #f1f5fa), to(#c9d9ea));
    background: linear-gradient(to bottom, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    color: #333 !important;
    padding: 8px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.rightNav li a i {
    font-size: 25px !important;
}

.rightNav li a:hover {
    background: -moz-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #EA5C54), color-stop(100%, #bb6dec));
    background: -webkit-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -o-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -ms-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
    color: #fff;
}

.rightNav li a:hover .matr {
    color: #fff !important;
}
