<header class="header">
    <div class="container-fluid ">
        <div class="row shadow headerbg">
            <div class="col-md-3 logo">
                <img src="http://106.51.56.235:8081/geopulse/geo/api/images/gp.png">
            </div>
            <div class="col-md-6 text-center">
                <!-- <i class="fa fa-home"></i> -->
                <h4 class="text-center wtext"> BASAVASHREE DIAGNOSTICS & RENEU LIFE </h4>
            </div>
            <div class="col-md-3 pull-right pright0">
                <ul class="rightNav">
                    <li>
                        <a routerLink="Profile" class="pname">
                            <img src="./assets/avatar.png" class="uphoto"> {{sponName}}
                            <!-- <i class="material-icons matr">person_pin</i> -->
                        </a>
                    </li>
                    <li>
                        <a href class="logout" (click)="logoutUser()"><i class="fas fa-power-off matr"></i>   </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bgcol menubar">
            <div class="col-md-12 pleft0" style="background: #F1F1F1;">
                <nav class="navbar navbar-expand-sm navbar-light bg-faded pleft0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="collapse navbar-collapse" id="nav-content">
                        <ul class="navbar-nav cnav">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="Home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                    <i class="material-icons">dashboard</i>
                                    <span class="linkText">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="Reports" routerLinkActive="active">
                                    <i class="material-icons">pie_chart</i>
                                    <span class="linkText">Reports</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="Profile" routerLinkActive="active">
                                    <i class="material-icons">person_outline</i>
                                    <span class="linkText">Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>