.bbg {
    position: relative;
    float: left;
    width: 100%;
    height: calc(100% - 63px);
}

.dashboardWrap {
    /* margin-top: 4px;*/
    position: relative;
    float: left;
    margin-left: 1%;
    width: 15%;
    border-top: 5px solid #29868e;
    background-color: #fff;
    min-height: 500px;
    /*height: calc(100% - 10px);*/
}

.outletWrap {
    position: relative;
    float: left;
    width: 81%;
    margin-left: 2%;
    /*height: calc(100% - 10px); d25e99*/
    min-height: 700px;
    border-top: 5px solid #29868e;
    background: -moz-linear-gradient(top, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    background: -webkit-linear-gradient(top, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
    background: linear-gradient(to bottom, #fff 0, #f1f5fa 86%, #c9d9ea 100%);
}

.summary {
    display: block;
    margin: 0;
    color: #357ebe;
    text-align: center;
    padding: 10px;
}

.summary h3 {
    font-size: 14px !important;
    padding: 10px;
    text-decoration: underline;
}

// .outletWrap:hover {
// }