<div class="container-fluid relative loginbg">
    <div id="color-overlay"></div>
    <div class="container h100">
        <div class="row h100">
            <div class="login-form">
                <mat-card>
                    <p class="text-center logo"><img src="./assets/diagnost.png"></p>
                    <p *ngIf="erroMessage" style="color: red;text-align: center;">{{erroMessage}}</p>
                    <mat-card-content>
                        <form (ngSubmit)="f.form.valid && doLogin()" #f="ngForm" novalidate>
                            <br>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                                <mat-form-field class="w100">
                                    <span matPrefix><mat-icon matSuffix>person_outline</mat-icon> &nbsp;</span>
                                    <input matInput placeholder="Username" autofocus name="username" [(ngModel)]="model.username" #username="ngModel" required>
                                </mat-form-field>
                                <!-- <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div> -->
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                                <mat-form-field class="w100">
                                    <span matPrefix><mat-icon matSuffix>lock_outline</mat-icon> &nbsp;</span>
                                    <input matInput placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                                </mat-form-field>
                                <!-- <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div> -->
                            </div>
                            <div class="form-grup">
                                <mat-checkbox>Remember me!</mat-checkbox>
                                <a class="pull-right" href> Forgot password ?</a>
                            </div>
                            <div class="form-group">
                                <br>
                                <button mat-raised-button color="primary" class="w100" [disabled]="loading"> Login </button>
                            </div>
                            <div class="foorm-group" *ngIf="loading">
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                />

                            </div>

                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>