@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: url('./assets/bg.png');
}


/*
 background-color: #272f3a;
.header {
     background: #181d24;
}

.bbg {
    background-color: #272f3a !important;
}

.bgcol {
    background-color: #272f3a;
}

.logo img {
    background-color: #fff;
}
*/

// .shadow {
//     -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
//     box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
// }
.headerbg {
    background: #3ac9d6;
    z-index: 999;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
    -o-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.21);
}

.bbg {
    background-color: #272f3a !important;
    background: url('./assets/bg.png');
}

// .bgcol {
//     background: #3ac9d6;
// }
.logo img {
    background-color: #fff;
}

.main-container {
    background: #f5f8fb;
}

.panel {
    margin-bottom: 16px;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #c9d9ea;
}

.panel {
    margin-bottom: 5px;
}

.info-stats {
    padding: 15px;
}

.info-stats.green-two .icon-type {
    background: #52bf8a;
    box-shadow: -3px 3px 0 #3fa976;
}

.info-stats .icon-type {
    height: 36px;
    width: 36px;
    float: left;
    position: relative;
    margin-right: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.info-stats .icon-type i {
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    color: #fff;
}

.info-stats .sale-num {
    margin: 0 0 0 48px;
}

.info-stats .sale-num h4 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-weight: 600;
}

.info-stats .sale-num p {
    font-size: 13px;
    margin: 0;
    padding: 0;
    line-height: 100%;
    color: #4d4d4d;
}

.info-stats.green-one .icon-type {
    background: #6dc6cd;
    box-shadow: -3px 3px 0 #4fbac3;
}

.info-stats.pink .icon-type {
    background: #F782AA;
    box-shadow: -3px 3px 0 #f55c90;
}

.info-stats.yellow .icon-type {
    background: #e3b442;
    box-shadow: -3px 3px 0 #dca521;
}

.topbar {
    padding: 0 20px;
    background: #fff;
    border-bottom: 1px solid #d1dfec;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.topbar h4 {
    padding: 10px;
    color: #000;
    font-size: 21px;
}

.box {
    margin-top: 2%;
    border-radius: 3px;
    width: 98%;
    margin-left: 1%;
    background: #fff;
    border: 1px solid #c9d9ea;
}

.box-body {
    width: 100%;
    padding: 15px;
    position: relative;
    min-height: 500px;
}

.box-header {
    border-radius: 3px 3px 0 0;
    padding: 15px;
    position: relative;
    border-bottom: 1px solid #d1dfec;
}