@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.main-container {
    background: #f5f8fb;
}

:-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: -moz-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #EA5C54), color-stop(100%, #bb6dec));
    background: -webkit-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -o-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: -ms-linear-gradient(-45deg, #EA5C54 0%, #bb6dec 100%);
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}